
@{ ViewData["Title"] = "DreamEater"; }
<link href="~/css/Enemies/DreamEater.css" rel="stylesheet" type="text/css" />

<body>
    <div class=" dreamEater">
        <h1 class="central">Dream Eater</h1>
        <img src="~/images/otherImages/DreamEater.png" class="Bild">

        <div class="info">
            <p>
                There are two types of Dream Eaters: ones that "eat dreams and plant nightmares", referred to as Nightmare Dream Eaters, and ones that "eat nightmares", referred to as Spirit Dream Eaters.
                The Dream Eaters are the form darkness takes in the sleeping worlds, as Heartless and Nobodies cannot enter.
            </p>

            <h2>Nature</h2>
            <p>
                Dream Eaters are the main species to be found in the Realm of Sleep that Sora and Riku are placed into for their Mark of Mastery Exam.
                As the name suggests, the main aim of the Nightmare Dream Eaters is to send Sora, Riku and the other protagonists into an abyssal Nightmare.
                As such, they are set on the goal of assaulting any who would dare to venture close to them.
                Other than this though, they seem to have no obvious, obtainable goal.
                he goal of Spirits, on the other hand is to guide and protect the protagonists from Nightmares as they venture on their journey.
                This is shown by their loyalty to the one that has created them. It is not often that a Spirit will stray from their master's side.
            </p>

            <h2>Personality</h2>

            <h4>Spirit</h4>
            <p>
                Spirits are the more friendly version of the Dream Eater species.
                They are generally light-colored and usually have black and yellow eyes with pupils of differing shapes, varying for each different Dream Eater.
                The only possible exception to this rule would be the Lord Kyroo Dream Eater, that appears to be light-colored both as a Spirit and as a Nightmare.
                All Spirits seem to be animal-based, and often appear similar to certain types of Heartless.
                In terms of the rest of their outward appearance, Spirits are generally rather colorful, displaying many different colors, though a patch of yellow seems to be the only recurring theme for each type.
                Additionally, the colors of your party's Spirits can be customized.
            </p>

            <h4>Nightmares</h4>
            <p>
                Nightmares are usually darker in coloration, similar to a Heartless's palette, but their glowing eyes are red and get darker towards the center.
                Like their Spirit counterparts, Nightmares often come in a range of different colors, with purple appearing to be the dominant theme.
                In its Nightmare form, it seems that Lord Kyroo does indeed have a small patch of purple.
            </p>

            <h2>Appearance</h2>
            <p>Dream eaters appear in the followig games: </p>
            <ul>
                <li>Kingdom Hearts Dream Drop Distance</li>
                <li>Kingdom Hearts III</li>
            </ul>
        </div>


    </div>
</body>