
@{
    ViewData["Title"] = "Heartless";
}
<div class="heartless">
    <h1 class="central">Heartless</h1>

    <img src="~/images/Heartless.png" class="Bild">

    <div class="info">
        <p>
            The Heartles are physical, living manifestations of the darkness within people's hearts.
            They manifest in two forms; "Pureblood" and the artificially created "Emblem" Heartless.
            They behave entirely devoid of emotion, hence the name "Heartless".
        </p>

        <h2>Types</h2>



        <div class="pure">
            <h4>Pure Heartless</h4>
            <p>
                The Pureblood Heartless are natural Heartless, born when people's hearts are normally consumed by darkness. They are ink-black in color, with yellow beady eyes.
                They are more common in places that are close to or saturated in darkness.
                Upon their destruction, they simply disappear in puffs of darkness.
            </p>
        </div>

        <div class="emblem">
            <h4>Emblem Heartless</h4>
            <p>
                The Emblem Heartless are Heartless created in Ansem's Lab.
                According to Secret Ansem's Report 5, They were created by Xehanort using the Pureblood as synthesizing material.
                They are usually more powerful than normal Heartless and they all bear the Heartless Emblem. They were originally created by Xehanort and possibly the other apprentices.
                Unlike Pureblood Heartless they release a Heart when they get defeated.
            </p>
        </div>

        <h2>Appearance</h2>
        <p>Heartless appear in the followig games: </p>
        <ul>
            <li>Kingdom Hearts Union x Dark Road</li>
            <li>Kingdom Hearts Birth by Sleep</li>
            <li>Kingdom Hearts</li>
            <li>Kingdom Hearts Re:Chain of Memories</li>
            <li>Kingdom Hearts 358/2 Days</li>
            <li>Kingdom Hearts Re:Coded</li>
            <li>Kingdom Hearts II</li>
            <li>Kigdom Hearts 0.2 Birth by Sleep</li>
            <li>Kingdom Hearts III</li>
        </ul>
        

    </div>


</div>
