
@{ ViewData["Title"] = "Nobodies"; }

<link href="~/css/Enemies/Nobodies.css" rel="stylesheet" type="text/css" />

<div class=" nobodies">
    <h1 class="central">Nobodies</h1>
    <img src="~/images/otherImages/Nobodies.png" class="Bild">

    <div class="info">
        <p>
            A Nobody is what remains of those who have lost their hearts to Darkness.
            The first generic Nobodies are seen in Kingdom Hearts II. They are made of body and soul.
            The emblem used by a Nobody appears as a splintered upside-down heart, often appearing on the head or chest. The emblem is first seen in Kingdom Hearts: Chain of Memories on the head of the Specter.
            All Nobody types are named after job classes in the Final Fantasy video game series, except for Dusks, Creepers, the Twilight Thorn, and several fought with the Gummi Ship.
        </p>

        <h2>Nature</h2>
        <p>
            Nobodies are born when a Heart is swallowed by darkness and produces a Heartless.
            They are the remaining parts left behind by the heart: the body, giving a Nobody form, and the soul, giving the Nobody life.
            However, only those with a strong will such as Sora are actually able to continue on as Nobodies.
            Those with the strongest wills manage to retain human forms (under special circumstances, sometimes the Nobody is formed with some slight changes to their appearance,) while the rest possess malformed, barely humanoid appearance
        </p>

        <h2>Organization XIII</h2>
        <p>
            The Organization XIII is a group of 13 nobodies that managed to keep their human form.They are weraing a black coat that protects them from the Darkness between the worlds. Leaded by the Nobody called Xemnas they collected hearts in order to create their own Kingdom Hearts.
            With this Kingdom Hearts Xemnas promised everyone in his Organization to obatin an heart and to be able to feel emotions again.
            At the end of Kingdom Hearts II Xemnas was the defeated and the created Kingdom Hearts was destroyed.

        </p>

        <h2>Appearance</h2>
        <p>Nobodies appear in the followig games: </p>
        <ul>
            <li>Kingdom Hearts</li>
            <li>Kingdom Hearts Re:Chain of Memories</li>
            <li>Kingdom Hearts 358/2 Days</li>
            <li>Kingdom Hearts Re:Coded</li>
            <li>Kingdom Hearts II</li>
            <li>Kingdom Hearts Dream Drop Distance</li>
            <li>Kingdom Hearts III</li>
        </ul>
    </div>


</div>