
@{ ViewData["Title"] = "Unversed"; }
<link href="~/css/Enemies/Unversed.css" rel="stylesheet" type="text/css" />

    <div class=" unversed">
        <h1 class="central">Unversed</h1>
        <img src="~/images/otherImages/Unversed.png" class="Bild">

        <div class="info">
            <p>
                The Unversed means "those who were not well-versed in their own existences".
                They are considered "the opposite of human life" and grow from the negative emotions produced when Vanitas was created from Ventus.
                It is because of this that Vanitas is able to control them.
                By all accounts, the Unversed are extensions of Vanitas himself.
            </p>

            <h2>Appearance</h2>
            <p>Unversed appear in the followig games: </p>
            <ul>
                <li>Kingdom Hearts Birth by Sleep</li>
                <li>Kingdom Hearts III</li>
            </ul>
        </div>


    </div>