@model WebProjekt_Beispiel.Models.Message

@if (Model != null)
{

    <h3>@Model.Header</h3>

    <b>Meldung</b>
    <p>
        @Model.Messagetext
    </p>


    @if (Model.Solution != null && Model.Solution.Trim() != "")
    {
        <b>Lösung</b>
        <p>
            @Model.Solution
        </p>
    }

}
else
{
    <p>
        Es wurde keine Meldung übergeben!
    </p>
}
