

<a asp-action="index" asp-controller="home" class="Auswahl1">Home</a>
<a asp-action="aboutUs" asp-controller="home" class="Auswahl1">Games</a>

<div class="dropdown">
    <span>Enemies</span>
    <div class="dropdown-content">

        <a asp-action="heartless" asp-controller="enemy">Heartless</a>
        <a asp-action="nobodies" asp-controller="enemy">Nobodies</a>
        <a asp-action="unversed" asp-controller="enemy">Unversed</a>
        <a asp-action="dreameater" asp-controller="enemy">Dream Eater</a>
    </div>
</div>
<a asp-action="logIn" asp-controller="home">LogIn</a>