@model WebProjekt_Beispiel.Models.User
@{
    ViewData["Title"] = "LogIn";
}
    <div class="logins">
        <h1>Log into your Account</h1>

        <form asp-controller="user" asp-action="LogIn" method="post">
            <label asp-for="Email"><b>Email:</b></label> <br />
            <input asp-for="Email" placeholder="Enter Email" required /><br /> <br />

            <label asp-for="Password"><b>Passwort:</b></label> <br />
            <input asp-for="Password" placeholder="Enter Password" id="pwd" name="pwd" required /> <br /> <br />

            <label>
                <input asp-for="Remember" type="checkbox" style="margin-bottom:15px"> Remember me
            </label>
            <br />

            <button class="CancelButton" type="reset">Cancel</button>
            <button class="SignUpButton" type="submit">Log in</button>

        </form>
    </div>
    