@model WebProjekt_Beispiel.Models.User
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link href="~/css/User/SignUp.css" rel="stylesheet" type="text/css" />

<div class="logins">

    <h1>Create an Account</h1>

    <form asp-controller="user"asp-action="SignUp" method="post">
        <label asp-for="Firstname"><b>Firstname:</b></label> <br />
        <input asp-for="Firstname"required /> <br />
        <br />

        <label asp-for="Lastname"><b>Lastname:</b></label><br />
        <input asp-for="Lastname" required/> <br />
        <br />

        <label asp-for="Email"><b>Email:</b></label> <br />
        <input asp-for="Email" type="email" required/> <br />
        <br />

        <label asp-for="Password"><b>Password:</b></label> <br />
        <input asp-for="Password" type="password" required/> <br />
        <br />

        <label asp-for="PasswordConfirm"><b>Repeat Password:</b></label> <br />
        <input asp-for="PasswordConfirm" type="password" required/> <br />
        <br />

        <label>
            <input asp-for="Remember" type="checkbox" style="margin-bottom:15px"> Remember me
        </label>

        <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

        <button class="CancelButton" type="reset" value="Cancel">Cancel</button>
        <button class="SignUpButton" type="submit" value="Sign up">Sign Up</button>

    </form>
</div>