@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ }

<link href="~/css/Home/Index.css" rel="stylesheet" type="text/css" />

<div class="center">
    <h1>
        Welcome to the Kingdom Hearts fan page
    </h1>

    <p>
        Here you can find a lot of information about the Kingdom Hearts Series as well as a lot of different Merch.
    </p>
    <div class="right">
        <h3>Become a Member</h3>
        <p>ich schhhhshidh sudusgjdgs jhgds gdzsiu dsgd suihd iuhsiudg usduigus hsghjgsjfgsjdgf sdhfjsdgfhjsgd fsdgfgdshgfj dfgh dshjf hdsghfgsjdhgfhgsd zfguebchve dc dghf gef dg fdh vfhdgfdgjhsfgef dhfjhgsgfesuifh fdhjs jfgd fg sjh </p>
    </div>

    <div class="left">
        <h3>Log into your Account</h3>
        <p>suhidshdiuagsudgjsgdjghsg dsghjdgs hgdsghf gjsgduzfgsu dgfzugsjhdgf sdjfgh jsdfgjh sdgfhgsj dgfjdsgfsd hfjsdgfhjsgd jhgfjhsdhj fgsjdhhfdvj hfgjdgfjdj sghdgshj hsdgfjh sgdhfgsjhd gfgsdg hjgjh</p>
    </div>
</div>