.KingdomHearts {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
}

.Bild {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:250px;
}

#navibereich li {
    display: inline;
    list-style-type: none;
}

#navibereich {
    background-color: black;
    color:white;
    padding: 10px;
    display: block;
    border-top: 3px solid red;
    border-bottom: 3px solid red; 
}

#navibereich a {
    color: white;
    text-decoration: none;
    padding: 5px 5px;
}

#navibereich a:hover {
    background-color: white;
    color: black;
}

#navi02 {
    padding-left: 50px;
 
}

#navi03 {
    padding-left: 50px;
}

#navi04 {
    padding-left: 50px;
}


.dropdown {
    position:relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 150px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
    padding: 12px 16px;
    border: 3px solid red;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.Anmelden{
    border: 3px double red;
}

.Abstand{
    padding-left:100px;
}

.central{
    text-align:center;
}

tbody td{
    padding:10px;
}

.logab{
    display: block;
    padding-left:20px;
}