
header {
    background-image: url('../images/HeaderB.png');
}

nav{
    height:50px;
}

.KingdomHearts {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
}

.Bild {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:250px;
}

#navibereich li {
    display: inline;
    list-style-type: none;
}

#navibereich {
    background-color: black;
    color:white;
    padding: 10px;
    display: block;
    border-top: 3px solid red;
    border-bottom: 3px solid red; 
}

#navibereich a {
    color: white;
    text-decoration: none;
    padding: 5px 5px;
}

#navibereich a:hover {
    background-color: white;
    color: black;
}

#navi02 {
    padding-left: 50px;
 
}

#navi03 {
    padding-left: 50px;
}

#navi04 {
    padding-left: 50px;
}

#navi98{
    margin-left:10px;
}


.dropdown {
    position:relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 150px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
    padding: 12px 16px;
    border: 3px solid red;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.Erstellen{
    border: 3px double red;
}

.Abstand{
    padding-left:100px;
}

.central{
    text-align:center;
}

tbody td{
    padding:10px;
}

.logab{
    display: block;
    padding-left:20px;
}

.logins {
    display: block;
    text-align: center;
    background-image: url('../images/SoraWallpaper.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position-y:-180px;
}

.SignUpButton {

    background-color: lightgray;
    color: black;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    min-height:10px;
    min-width:100px;
    margin-right:10px;
    border: double grey;
}

.SignUpButton:hover{
    opacity:1;
}

.CancelButton {
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    min-height: 10px;
    min-width: 100px;
    border:solid grey;
}

.CancelButton:hover {
     opacity: 1;
}

content{
    height:200vh;
}