@model WebProjekt_Beispiel.Models.Merch
@{
    ViewData["Title"] = "CreateArticle";
}

<div class="logab">

    <h1>Create an Article</h1>

    <form asp-controller="shop" asp-action="CreateArticle" method="post">

        <label asp-for="ArticleName">Articlename:</label> <br />
        <input asp-for="ArticleName" /> <br />
        <span asp-validation-for="ArticleName" class="test-danger" style="font-size: 85%"></span>
        <br />


        <label asp-for="ArticlePrice">Price:</label> <br />
        <input asp-for="ArticlePrice" /> <br />
        <span asp-validation-for="ArticlePrice" class="text-danger" style="font-size: 85%"></span>
        <br />

        <label asp-for="ReleaseDate">Erscheinungsdatum</label><br />
        <input asp-for="ReleaseDate" type="date" /> <br />
        <br />


        <label asp-for="Category">Kategorie:</label><br />
        <select asp-for="Category">
            <option value="notSpecified">bitte auswählen</option>
            <option value="Figure">Figur</option>
            <option value="Statue">Statue</option>
            <option value="Plush">Plush</option>
            <option value="Poster">Poster</option>
        </select>
        <br />
        <br />
        <label asp-for="Image">Image:</label> <br />
        <input asp-for="Image" /> <br />
        <span asp-validation-for="Image" class="test-danger" style="font-size: 85%"></span>
        <br />
        <br />
        <input type="submit" value="Artikel erzeugen" />
        <input type="reset" value="Abbrechen" />
    </form>
</div>