.central {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.Bild {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
}

.dreamEater {
    margin-left: 50px;
    margin-right: 50px;
}

.info {
    margin-bottom: 20px;
}
