.central {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.Bild {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
}

.pure p {
    line-height: 30px;
}

.emblem p {
    line-height: 30px;
}

.info .pure {
    margin-top: 20px;
    margin-bottom: 50px;
}

.heartless {
    margin-left: 50px;
    margin-right: 50px;
}

.heartless h2 {
    margin-top: 25px;
}

.info {
    margin-bottom: 20px;
}
